@model DACNWeb.Models.Food

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMonAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryFood.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryFood.TenTheLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookingMethod.TenPPN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookingMethod.TenPPN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDFood }) |
    @Html.ActionLink("Back to List", "Index")
</p>
